@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.slick-next {
    background: transparent;
}

.slick-prev:before {
    content: url(../../asset/svg_icon/arrow.svg);
}

[dir="rtl"] .slick-prev:before {
    content: url(../../asset/svg_icon/arrow.svg);
}

.slick-next:before {
    content: url(../../asset/svg_icon/arrow.svg);

}

[dir="rtl"] .slick-next:before {
    content: url(../../asset/svg_icon/arrow.svg);

}