.nft {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 705px;
    justify-content: center;
}

.nft__img {
    margin: 5px 5px;
    width: 131px;
}

.nft__img img {
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .nft__img {
        width: 217px;
    }
}