.article__content {
    text-align: left;
}

.article__content__head {
    color: white;
    text-decoration-thickness: 5px;
}

.article__content__paragraph {
    margin: 20px 0 40px 0;
}

.article__content__grid {
    padding: 20px 0 30px;
}

span {
    font-size: 50px;
    color: white;
    line-height: 0.2;
    position: absolute;
}